            body{
                background-color: transparent;
                /*background: rgb(70,77,112);*/
                background: linear-gradient(60deg, rgba(70,77,112,1) 0%, rgba(52,56,75,1) 55%);
                padding:0px;
                margin: 0px;
            }
            h1{
                color: #eeeeee;
                font-family: "Lora", sans-serif;
                font-size: 80px;
                text-align: center;
                margin: 0rem
            }
            h2{
                color: #eeeeee;
                font-family:"Lora", Bold;
                font-size: 50px;
                margin: 0rem;
            }
            h3{
                color: #eeeeee;
                font-family:"Lora", Bold;
                font-size: 30px;
                text-align: center;
                margin: 0rem
            }
            h4{
                margin: 0rem
            }
            p{
                color: #eeeeee;
                font-family: "Rubik";
                margin: 0rem
            }
            button{
                border: 0;
                background-color: #616E43;
                color:#eeeeee;
                font-family: "Rubik", Bold;
                border-radius: 1.2rem;
                font-size: 20px;
                cursor: pointer;
                padding: 1rem;
            }
            button:hover{
                background-color: #6d7a4f
            }   
            img{
                border-radius: 10px;
            }
            input{
                border-radius: 5px;
                border: 0;
                border-color: #eeeeee;
                font-size: 20px;
                text-align: right;
            }
            ul{
                margin: 0rem;
            }
            ::placeholder{
                font-family: Rubik;
                font-size: 1rem;
            }
            a{
                text-decoration: none;
            }
            a:hover{
                cursor: pointer,
            }
            main{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-items: center;
            }
            span{
                font-family: "Rubik", sans-serif;
                color: #eeeeee;
            }
            /* Scroll Bar*/
            body::-webkit-scrollbar{
                width: 8px;
                background-color: #656e99;
            }
            body::-webkit-scrollbar-track {
                background: #656e99;
                border-radius: 4px;
                margin: 5px 0px 5px 0px;
            }
            body::-webkit-scrollbar-thumb {
                background: #a1abda;
                border-radius: 5px;
            }
            body::-webkit-scrollbar-thumb:hover {
                background: #aabcd1;
                box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            }
            body::-webkit-scrollbar-thumb:active {
                background-color:#c1d2e6;
            }
            /* Header */
            .header{
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 100px;
                left: 50%
            }
            .headerbox{
                display: flex;
                flex-direction: row;
                background-color: rgb(70, 77, 112, 0.7);
                min-height: 60px;
                justify-content: center;
                align-items: center;
                margin: 20px 0px 20px 0px;
                width: auto;
                gap: 15rem;
                border-radius: 20px;
                position: sticky;
                overflow: hidden;
                position: fixed;
                backdrop-filter: blur(5px);
                filter: drop-shadow(0 0 0.75rem rgb(19, 19, 19, 0.05));
                box-sizing: border-box;
            }
            .header a{
                color:#eeeeee;
                font-family: "Lora", sans-serif;
                font-weight: 400;
                font-style: normal;
                
            }
            .header a:hover{
                color: #A1AC88;
                font-weight: 400;
                box-sizing: border-box;
            }
            .headeranchores{
                
                display: flex;
                flex-direction: row;
                gap: 6rem;
            }
            .perfil{
                height: 35px;
                margin: 0px 10px 0px 0px;
            }
            .perfil ion-icon{
                width: 35px;
                height: 35px;
            }
            .headerlogo img{
                width: 70px;
                margin: 0px 0px -14.6px -10px;
                padding: 0px;
                overflow: hidden;
            }
            /*----------- mainpage --------------*/
            /*_________ Banner Homepage ________*/
            .banner-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .banner-box img{
                width: 100%;
                box-sizing: border-box;
                border-radius: 0rem 0rem 1rem 1rem;
                mask-image: linear-gradient(
                    black 60%,
                    transparent
                );
            }
            .banner-cont{
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                text-align: center;
                align-items: center;
                top: 10rem;
                gap: 4rem;
                overflow: hidden;
            }
            /* Acá deberia haber otro subtexto en caja con letras arabes */
            .banner-cont-title{
                text-shadow: 0px 2px 10px rgb(0, 0, 0, 0.50);
                margin: 0rem
            }
            .banner-cont-description{
                max-width: 40rem;
                font-size: 1.5rem;
                text-align: center;
                text-shadow: 0px 2px 10px rgb(0, 0, 0, 1);
            }
            .mainpage-fieldset{
                display: flex;
                flex-direction: row;
                width: 100%;
                box-sizing: border-box;
                gap: 1rem;
                background-color: rgb(103, 114, 167, 0.5);
                backdrop-filter: blur(5px);
                filter: drop-shadow(0 0 0.75rem rgb(19, 19, 19, 0.05));
                padding: 1rem;
                border-radius: 2rem;
            }
            .mainpage-fieldset input{
                border-radius: 1.2rem;
                background-color: rgb(103, 114, 167, 0.5);
                color: #eeeeee;
                padding-right: 1rem;
            }
            .mainpage-fieldset input::placeholder{
                color: #eeeeee;
                text-align: center;
            }
            .mainpage-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5rem;
                padding: 2rem;
                width: 100%;
                max-width: 1500px;
                box-sizing: border-box;
            }
            .mainpage-content-expo{
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                gap: 2rem;
                width: 100%;
            }
            .main-content-expo-image{
                width: 40%;
                aspect-ratio: 2/1;
            }
            .mainpage-content-expo-text{
                display:flex;
                flex-direction: column;
                width: 100%;
                text-align: justify;
                line-height: 3rem;
                font-size: 1.5rem;
                font-weight: 100;
                gap: 2rem;
            }
            .mainpage-content-expo-text h2{
                color: #A1AC88
            }
            .main-content-expo-image-res1200{
                display: none
            }


            /* Footer o Pie de Página */
            .footer{
                display: flex;
                flex-direction: row;
                background-color: #131313;
                border-radius: 20px 20px 0px 0px;
                padding: 30px 3dvh;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                padding: 0px 20px 0px 20px;
                margin-top: 2rem
            }
            .footer h3{
                color: #eeeeee
            }
            .footercont{
                display: flex;
                flex-direction: column;
                margin: 30px;
                gap: 1rem
            }
            .footercontlv2{
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: space-between;
            }
            .footerubicontact{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .footerlogo{
                margin: 0px 30px 30px 30px
            }
            .footerlogo img{
                width: 200px;
                height: 220px;
                margin: 42px 0px 0px 0px
            }
            .footerlogo h3{
                font-weight: lighter;
                font-size: 20px;
            }
            .footer a{
                color:#eeeeee;
                text-decoration: none;
                font-family: "Rubik", sans-serif;
            }
            .footerlogo p{
                font-family: "Rubik", sans-serif;
                color:#eeeeee;
                text-align: center;
            }
            .footerp1, .footerp2{
                display: flex;
                flex-direction: row;
                align-items: center;
                max-width: 450px;
                min-width: 200px;
                gap: 10px;
                line-height: 30px;
            }
            .footerp3{
                display: inherit;
                line-height: 50px;
                box-sizing: border-box;
                gap: 50px;
                min-width: 400px;
            }
            .footercredit{
                text-align: justify;
                line-height: 30px;
            }
            .icubicacion{
                width: 50px;
                height: 50px;
                margin: 10px 10px 10px 10px;
                padding: 10px 0px 0px 0px;
                color:#eeeeee;
            }
            .icontacto{
                width: 42px;
                height: 45px;
                margin: 10px 10px 10px 10px;
                padding: 10px 0px 0px 0px;
            }
            .footer ion-icon{
                width: 3rem;
                height: 3rem;
                color:#eeeeee;
            }
            /* Alojamiento */
            .hab{
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;
                align-items: center;
                gap: 2rem;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
            }
            .habrow{
                display:flex;
                flex-direction: row;
                text-align: justify;
                gap: 2rem;
            }
            .habfin{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 85rem;
            }
            .tarjeta{
                display: flex;
                flex-direction: column;
                background-color: #eeeeee;
                margin: inherit 10px 0px 0px;
                color: #131313;
                padding: 0px 20px 0px 20px;
                margin: 0px;
                border-radius: 20px;
                max-width: 550px;
                align-items: center;
            }
            .hab h3{
                margin: 5px;
                color:#131313;
            }
            .hab p{
                color:#131313;
            }
            .hab img{
                max-width: 550px;
            }
            /* Amenidades */
            .ameniscroll{
                display: flex;
                flex-direction: row;
                padding: 0px 20px 20px 20px;
                justify-content: center;
                align-items: center;
                margin-top: 20px;;
            }
            .ameniscrolltarjet{
                display: flex;
                flex-direction: column;
                height: fit-content;
                border-radius: 20px;
                background: rgb(70,77,112);
                background: linear-gradient(0deg, rgba(70,77,112,1) 13%, rgb(63, 83, 184) 63%);
            }
            .ameniscrolltarjet img{
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
                margin-bottom: 0px;
            }
            .amensep{
                margin: 0px 20px 20px 0px;
            }
            .amenicont{
                display: flex;
                flex-direction: column;
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
                margin-top: 0px;
                padding: 0px 10px 20px 10px;
                text-align: center;
            }
            .amenicont h2{
                max-width: 540px;
                font-size: 40px;
            }
            .ameniscroll button{
                padding: 10px 0px 10px 0px;
                background-color: #7179a3;
            }
            .amenip2{
                display: flex;
                flex-direction: row;
                background-color: #7179a3;
                height: content;
                padding: 20px 20px 20px 50px;
                border-radius: 20px 20px 0px 0px;
                justify-content: left;
                align-items: center;
            }
            .text{
                font-size: 30px;
                max-width: 600px;
                margin-right: 50px;
                line-height: 40px;
                text-align: justify;
            }
            /* Eventos */
            .eventcont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 20px;
                max-width: 1400px;
                overflow: hidden;
            }
            .mainevent{
                display: inline-block;
                position: relative;
                text-align: left;
                width: 100%;
            }
            .mainevent img{
                object-fit: contain;
                width: 100%;
                height: 100%;
                border-radius: 30px;
            }
            .maineventext{
                position: absolute;
                top: 0px;
                left: 0px;
                margin: -20px 20px 20px 20px;
                text-shadow: 0px 2px 10px rgb(0, 0, 0, 0.50);
            }
            .mainevent button{
                padding: 20px;
                background-color: rgb(97, 110, 67);
                color:#eeeeee;
                border-radius: 20px;
            }
            .mainevent button:hover{
                color:#FFFFFF;
                background-color: #798165;
                cursor: pointer;
            }
            .restevent{
                display:flex;
                flex-direction: column;
            }
            .eventarjet{
                display: flex;
                flex-direction: row;
                background-color: #e2e2e2;
                margin-top: 20px;
                margin-left: 25px;
                border-radius: 30px;
                color:#131313;
                padding: 15px 20px 10px 15px;
            }
            .eventarjet img{
                object-fit: contain;
                max-width: 500px;
                border-radius: 25px;
                margin-right: 20px;
            }
            .eventarjet p{
                margin-top: 0px;
                color:#131313;
                font-size: 20px;
                text-align: justify;
            }
            .estado{
                position: absolute;
                text-decoration: none;
                text-align: left;
                align-self: center;
                margin: 0px 0px 10% -43px;
                padding: 10px 20px 10px 10px;
                width: 130px;
                height: 50px;
                background-color: #A1AC88;
                border-radius: 15px;
            }
            .estado p{
                color:#eeeeee;
                padding: 0 0 0 5px;
            }
            /* Sign In & Sign Up */
            .signcaja{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0px 100px 100px 100px;
            }
            .signcaja p{
                text-align: center;
            }
            .fix{
                display: inline-block;
            }
            .signcaja h1{
                margin-bottom: 10px;
            }
            .signbackground{
                display: none;
            }
            .signcaja fieldset{
                display: flex;
                flex-direction: column;
                border: 0px;
                align-items: center;
            }
            .signincampos label{
                display: block;
                margin: 30px;
                align-items: center;
            }
            .signincampos input{
                padding: 20px;
                border-radius: 20px;
                width: 300px;
                align-items: center;
                text-align: left;
            }
            .signincampos input::placeholder{
                text-align: right;
                transform: translate(9px, 17px);
                font-family: "Rubik";
                font-weight: 460;
                color: #A1AC88;
            }
            .signpost{
                display: flex;
                flex-direction: row;
                margin: 0px;
                padding: 0px;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .signpost button{
                width: 150px;
                height: 65px;
                margin-left: 30px;
                border-radius: 20px;
                font-size:20px;
                font-weight: 600;
                cursor: pointer;
            }
            .signincheckbox label{
                align-items: left;
                cursor: pointer;
            }
            .signpost a{
                font-weight: 100;
            }
            .signpost button:hover{
                background-color: #646d4f;
                color:#e2e2e2;
            }
            .signpost p{
                text-align: left;
            }
            .signpost p:hover{
                color:#A1AC88;
            }
            .conexion{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
            }
            .conexionlinks{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 70px;
            }
            .google-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                background-color: #eeeeee;
                text-decoration: none;
                border-radius: 17px;
                width: 100px;
                transition: background-color 0.3s ease;
            }
            .facebook-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                background-color: #eeeeee;
                text-decoration: none;
                border-radius: 17px;
                width: 100px;
                transition: background-color 0.3s ease;
            }
            .google{
                height:35px;
                width:52px;
                color:#464D70;
            }
            .facebook{
                height:35px;
                width:52px;
                color:#464D70;
            }
            .signup{
                display: flex;
                flex-direction: column;
                padding: 2px;
                gap: 10px;
                margin: 0px;
            }
            .signupclose{
                display: flex;
                flex-direction: row;
                width: 800px;
            }
            .signlong input{
                width: 700px;
            }
            .signshort input{
                width: 200px;
            }
            .signmedium input{
                width: 400px;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button{
                -webkit-appearance: none;
                margin: 0;
            } /* Ocultar los navegadores de aumentar o disminuir número */
            .chulito{
                align-items: left;
                width: 800px;
                color: #eeeeee;
                font-family: "Rubik";
            }
            .chulito input{
                width: auto;
            }
            .chulitofix{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            /* Perfil */
            .banner{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px;
            }
            .banner-box-perfil img{
                width: 100%;
                max-width: 1920px;
                border-radius: 0px 0px 10px 10px;
                filter: blur(1em);
                mask-image: linear-gradient(
                    black 60%,
                    transparent
                );
                position: relative;
            }
            .banner img{
                width: 1280px;
                height: 400px;
            }
            .navbar a, .navbar{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                padding: 7px;
                width: 1100px;
                background-color: #eeeeee;
                opacity: 80%;
                color: #464D70;
                text-decoration: none;
                text-align: center;
                font-family: "Lora";
                z-index: 10
            }
            .navperf{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .perfcontent{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-width: 1200px;
                gap: 20px;
                margin: 0px 0px 20px 0px;
            }
            #reservas{
                display: inherit;
                flex-direction: inherit;
                max-width: 1200px;
                justify-content: center;
                align-items: center;
            }
            #reservas h2{
                color: #eeeeee;
                text-align: left;
            }   
            .histcontein h2{
                width: 1000px;
                align-items: left;
            }
            #reservas p, #reservas h3{
                color:#131313;
                margin-left: 50%;
            }
            .perftarjet{
                display: flex;
                flex-direction: row;
                align-items: left;
                background-color: #eeeeee;
                gap: 20px;
                width: 1000px;
                height: 150px;
                border-radius: 15px;
            }
            .perftarjet img{
                object-fit: cover;
                height: 150px;
            }
            .histcontein{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 1100px;
                border-radius: 15px;
                align-items: center;
                text-align: left;
            }
            #configuracion{
                display: none;
            }
            .currentroom{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 3%;
                left: 3%;
                margin-top: 100px;
            }
            .curRoom{
                display: flex;
                position: absolute;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 400px;
            }
            .currentroom img{
                object-fit: cover;
            }
            .curRoom p{
                background-color: #A1AC88;
                width: 200px;
                border-radius: 10px;
                margin: 0px;
                text-align: center;
            }

            /* Reservar Habitación */
            .habitacion{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: stretch;
                flex-wrap: wrap;
                width: 100%;
                max-width: 80rem;
                background-color: #eeeeee;
                margin: 1rem 1rem;
                padding: .7rem;
                border-radius: 1rem;
                gap: .7rem
            }
            .roomTitle, .otherRooms-title{
                display: flex;
                flex-direction: row;
                background-color: #616E43;
                align-content: center;
                justify-content: space-between;
                padding: .7rem 1rem;
                border-radius: .5rem;
            }
            .roomTitle h1{
                font-size: 1.5rem;   
                margin: 0rem;
            }
            .roomContent{
                display: flex;
                flex-direction: row;
                gap: .7rem;
                margin: .5rem;
            }
            .roomScript p, li{
                font-family: Rubik;
            }
            .roomData, .roomData img{
                max-width: 	50rem;
            }
            .habitacion :is(p, h3, h2){
                color:#131313;
                text-align: left;
                text-align: justify;
                margin: .5rem 0rem;
                line-height: 2rem;
            }
            .roomContRight{
                display: flex;
                flex-direction: column;
                align-content: center;
                gap: .5rem;
                border-radius: .7rem;
                width: 100%;
            }
            .roomContRight form{
                background-color: #616E43;
                border-radius: .7rem;
                padding: .7rem
            }
            .otherRooms{
                background-color: #dadada;
                border-radius: .7rem;
                padding: .7rem;
            }
            .otherRooms-title, .otherRooms-title h1{
                color: #dadada;
                margin: inherit;
                font-size: 1.2rem;
            }
            .roomForm{
                display: flex;
                flex-direction: column;
                gap: .5rem;

            }
            .roomForm button{
                background-color: rgba(188, 216, 156, 0.7);
                color: #131313
            }
            .formDate{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 1rem;
                color: black
            }
            .formDate input, .formQuantity select{
                padding: .7rem; 
                box-sizing: border-box;
                background-color: rgba(255, 255, 255, 0.7);
                color: #131313;
                border-radius: .5rem;
                width: 100%;
                font-family: Rubik;
                font-weight: 400;
                font-size: 1rem;
            }
            .formDate span, .formQuantity span{
                color: #eeeeee;
            }
            .formQuantity{
                display: flex;
                flex-direction: column;
                gap: .5rem
            }
            .formQuantity option:hover{
                background-color: #464D70;
            }
        /* Página de lista de habitaciones */

        .res-rooms-section{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            flex-wrap: wrap;
            margin: 2rem;
            gap: 0.5rem;    
        }
        .fixer{
            max-width: 100%;
            box-sizing: border-box;
        }
        .res-rooms-section h2{
            margin: 0;
            color: #eeeeee;
        }
        .res-filter{
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            border-radius: 1rem;
            background: rgb(77, 87, 139);
            gap: 0.2rem;
        }
        .res-filter p{
            margin: 0.4rem;
        }
        .res-room-title{
            display: flex;
            flex-direction: column;
            gap: .8rem
        }
        .filters{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: flex-start;
            justify-content: flex-start;
            color: #eeeeee;
            font-family: Rubik;
            box-sizing: border-box;
            width: 100%;
        }
        .filter-fix{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0rem 1rem;
            width: 100%;
            box-sizing: border-box;
        }
        .filter-date-from {
            background-color:rgb(76, 72, 109);
            background-color: #656e99;
            padding: .5rem 2rem;
            border-radius: .5rem;
        }
        .result-page{
            display: flex;
            flex-direction: column;
            margin: 1rem;
            gap: 1rem

        }
        .default-tarjet{
            display: flex;
            flex-direction: column;
            background-color: #e2e2e2;
            filter: drop-shadow(1, 1, 1, 0.5);
            width: 100%;
            color:rgba(0, 0, 0);
            border-radius: 1rem;
            gap: .5rem;
            padding: 0rem;
            box-sizing: border-box;
        }
        .default-tarjet img{
            width: 100%;
            box-sizing: border-box;
        }
        .default-tarjet :is(h2, p, h1, h3){
            color:#131313;
            margin: 0rem;
        }
        .room-name h2{
            font-size: 2rem;
        }
        .room-price-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            padding: 1rem;
            gap: .5rem
        }
        .room-price{
            background-color: rgb(97, 110, 67, 0.8);
            padding: .3rem 2rem;
            border-radius: .8rem;
        }
        .room-price h2{
            font-size: 1.5rem;
            color: #eeeeee;
        }
        .result-box{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        } 
        /* Página de Pago */
        .payment-box{
            display: flex;
            flex-direction: row;
            background-color: #eeeeee;
            border-radius: 2rem;
            padding: 1.7rem;
            gap: 1rem
        }
        .pay-form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .payment-methods{   
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;
            justify-content: space-evenly;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }
        .payment-methods a{
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
            width: 100%;
            font-family: Rubik;
            border-radius: .6rem;
        }
        .method-bank-card{
            background-color: #464D70;
            color: #eeeeee;
        }
        .payment-methods p{
            color: #131313;
        }
        .method-paypal, .method-transfering{
            cursor: default;
            pointer-events: none;
            background-color: rgb(196, 196, 196);
            color: rgb(105, 105, 105);
        }
        .method-bank-card a{
            background-color: transparent;
            color: #131313
        }
        .payment-form-title{
            background: rgb(97,110,67);
            background: linear-gradient(90deg, rgba(97,110,67,1) 50%, rgba(238,238,238,1) 100%);
            padding: .7rem;
            border-radius: 1rem;
        }
        .payment-form-title h2{
            font-size: 2rem;
            margin: 0rem;
            color: #eeeeee
        }
        .payment-form-column{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 1rem 0rem;
        }
        .payment-form-row{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
        .booking-summary{
            display: flex;
            flex-direction: column;
            background-color: #6d7a4f;
            border-radius: 1rem;
            padding: 1rem;
            gap: 1rem;
            justify-content: space-between;
        }
        .booking-data{
            color: #eeeeee;
            text-align: right;
        }
        .booking-img img{
            width: 100%;
        }
        .booking-total{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
            align-items: baseline;
        }
        .booking-total p{
            margin: 0rem;
            font-size: 1.2rem;
            font-weight: 400;
        }
        .booking-total p:last-child{
            font-weight: 800;
            font-size: 2rem;
        }
        .payment-form button{
            width: 100%;
            border-radius: 1rem;
        }
        .payment-form input{
            padding: 1rem;
            border-radius: 1rem;
        }
        .booking-summary{
            width: 30rem;
        }
        .booking-summary-title{
            background-color: #eeeeee;
            border-radius: .7rem;
            align-items: left;
            padding: .2rem
        }
        .booking-summary-title h1{
            color:#616E43;
            font-size: 2rem;
            margin: 0rem
        }
        
        /*------------------------#
        |                         |
        |     Responsive Test     |
        |                         |
        #-------------------------*/
        @media (max-width: 1200px){
            /*
            En este punto hay que dejar el header con un icono y 
            tres puntos que abriran una pestaña que despliega las
            redirecciones
            */

            /*-------------- MAINPAGE.JS ------------------*/
            .banner-cont{
                top: 7rem;
                gap: 1.7rem
            }
            .banner-cont-description{
                max-width: 30rem;
                font-size: 1.2rem;
                text-align: center;
                text-shadow: 0px 2px 10px rgb(0, 0, 0, 1);
            }
            .mainpage-content-expo{
                flex-direction: column;
            }
            .main-content-expo-image{
                display: none;  
            }
            .main-content-expo-image-res1200{
                display: block;
            }
            .main-content-expo-image-res1200{
                width: 100%;
                box-sizing: border-box;
                aspect-ratio: 16/9;
            }
            .headerbox{
                width: 80%
            }
            .payment-box{
                display: flex;
                flex-direction: column;
                width: 90%;
            }
            .payment-box h2{
                font-size: 2.5rem;
            }
            .res-filter{
                margin-bottom: 1rem
            }
            .result-page{
                margin: 0rem;
            }
            .room-name h2{
                font-size: 1.5rem;
            }
            .room-price-title{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                align-items: flex-start;
            }
            .room-price{
                width: 100%;
                box-sizing: border-box;
            }
            .result-box a{
                width: 100%;
                box-sizing: border-box;
            }
            input{
                width: 100%;
                box-sizing: border-box;
            }
            .booking-summary{
                width: 100%;
                box-sizing: border-box
            }
            .booking-summary-title h1{
                font-size: 1.5rem
            }
            /* Footer */
            .footerlogo{
                display: none;
            }
        }
        @media (max-width: 720px) {
            /*---- MAINPAGE -----*/
            .mainpage-fieldset{
                display: none;
            }
            .payment-box{
                width: 80%;
            }
            .booking-total p{
                font-size: 1rem;
            }
            .res-room-title h2{ 
                font-size: 2rem
            }
            .room-name h2{
                font-size: 1.5rem
            }
            .payment-form-title h2{
                font-size: 1.7rem;
            }
            .payment-methods a{
                font-size: 1rem;
                padding: .8rem 1rem
            }
            .result-box{
                display: flex;
                flex-direction: column;
            }
            .footer h3{
                text-align: center;
            }
            .footercontlv2{
                display: flex;
                flex-direction: column;
            }
            .footerp3{
                display: flex;
                justify-content: space-around;
            }
            .footerubicontact{
                display: flex;
                justify-content: space-around;
                width: 100%;
                box-sizing: border-box;
            }
            .footercredit{
                display: none;
            }
            .habfin{
                gap: 2rem
            }
            .habfin h1{
                font-size: 3.5rem;
            }

        }
        
        @media (max-width: 480px){
            .banner-cont-description{
                display: none;
            }
            .banner-cont{
                top: 6rem
            }
            .banner-cont-title h1{
                font-size: 4rem
            }
            .mainpage-content-expo-text{
                line-height: 2.8rem;
            }
            .footerp1, .footerp2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .footerubicontact{
                gap: 2rem
            }
            .habfin h1{
                font-size: 2.7rem;
            }
        }